<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.josblais.myday</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myday</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>x-apple-reminderkit</string>
		<string>calshow</string>
		<string>x-apple-health</string>
		<string>x-apple-fitness</string>
		<string>x-apple-weather</string>
		<string>weather</string>
		<string>shortcuts</string>
		<string>myday</string>
	</array>
</dict>
</plist>
